<nav class="max-sm:hidden overflow-hidden">
    <ul class="flex flex-row p-8 gap-8 justify-center items-center">        
        <li>
            <a class="font-mona font-medium text-secondary bg-blue-600 bg-opacity-0 py-2 px-4 rounded-full hover:bg-opacity-100 hover:text-primary hover:shadow-blue-200 hover:shadow-md transition-all ease-in-out duration-300" href="#projetos">Projetos</a>
        </li>
        <li>
            <a class="font-mona font-medium text-secondary bg-blue-600 bg-opacity-0 py-2 px-4 rounded-full hover:bg-opacity-100 hover:text-primary hover:shadow-blue-200 hover:shadow-md transition-all ease-in-out duration-300" href="#experiencia">Experiência</a>
        </li>           
    </ul>
</nav>

<nav class="max-sm:block sm:hidden overflow-hidden bg-primary w-full shadow-xl">
    <ul class="flex flex-row p-4 gap-8 justify-center items-center">        
        <li>
            <a class="font-mona font-medium text-secondary bg-blue-600 bg-opacity-0 py-2 px-4 rounded-full hover:bg-opacity-100 hover:text-primary hover:shadow-blue-200 hover:shadow-md transition-all ease-in-out duration-300" href="#projetos">Projetos</a>
        </li>
        <li>
            <a class="font-mona font-medium text-secondary bg-blue-600 bg-opacity-0 py-2 px-4 rounded-full hover:bg-opacity-100 hover:text-primary hover:shadow-blue-200 hover:shadow-md transition-all ease-in-out duration-300" href="#experiencia">Experiência</a>
        </li>
    </ul>
</nav>
